body {
  overflow-x: hidden;
}

#banner {
  min-height: 600px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  background-image: url(../images/dhan-che-yellow-01.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1400px;
}
#banner:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  #banner {
    height: 600px;
    background-position: center;
  }
}
@media screen and (min-width: 1400px) {
  #banner::before {
    content: "";
    background-image: url(../images/dhan-che-yellow-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 600px;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
#banner .banner-content h1 {
  font-size: 6rem;
  position: absolute;
  text-align: center;
  line-height: 1.3em;
  top: 50%;
  left: 5%;
  width: 90%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
#banner .banner-content h1 .con {
  font-family: "Euphoria Script", cursive;
  position: relative;
  z-index: 2;
  width: 100%;
  display: block;
  font-size: 4rem;
  line-height: 0;
  margin-left: 10px;
}
#banner .banner-content h1 span {
  display: block;
  position: relative;
  z-index: 2;
}
#banner .banner-content h1 .date {
  display: block;
  position: relative;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  z-index: 2;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  #banner .banner-content h1 {
    font-size: 8rem;
  }
  #banner .banner-content h1 span, #banner .banner-content h1 .con {
    display: inline-block;
    width: auto;
  }
  #banner .banner-content h1 .con {
    font-size: 9rem;
    margin-left: 25px;
  }
}
#banner .banner-content h3 {
  text-align: center;
  font-size: 28px;
  padding-top: 50px;
}
#banner .banner-content .btn {
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
}
#banner .banner-content .digit-wrapper {
  background: #fff;
  color: #3f3f3f;
  padding: 6px 6px 8px;
  font-weight: 500;
  border-radius: 4px;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
#banner .banner-content .digit-wrapper::after, #banner .banner-content .digit-wrapper::before {
  content: "";
  position: absolute;
  top: -3px;
  height: 8px;
  width: 4px;
  background: #3f3f3f;
  border-radius: 2px;
}
#banner .banner-content .digit-wrapper::before {
  left: 25%;
}
#banner .banner-content .digit-wrapper::after {
  right: 25%;
}

h1 {
  font-family: "Cookie", cursive;
  color: #3f3f3f;
  font-size: 92px;
  margin: 0;
  line-height: 1em;
  user-select: none;
}

h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #3f3f3f;
  line-height: 1.3em;
  user-select: none;
}

.modal-title {
  color: #fff;
}

.section-title {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.section-title.text-left {
  text-align: left;
}
.section-title.text-left:after {
  left: 0;
  transform: none;
}
.section-title.text-white:after {
  background-color: #fff;
}
.section-title:after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #3f3f3f;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 4px;
}

h6 {
  font-weight: 600;
  font-size: 20px;
}

p, a, li {
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #212529;
}

table th, table td {
  font-family: "Raleway", sans-serif;
  color: #222;
}
table th {
  font-size: 16px;
  font-weight: 600;
}
table td {
  font-weight: 400;
  font-size: 14px;
  padding: 1rem 0.5rem !important;
  vertical-align: middle;
}
table td.col-response {
  width: 200px;
}
@media screen and (min-width: 768px) {
  table td.col-response {
    width: 350px;
  }
}

img {
  user-select: none;
}

.fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.social-icons a {
  filter: grayscale(1);
  opacity: 0.75;
}
.social-icons a:hover {
  filter: none;
  opacity: 1;
}

.venue-image {
  overflow: hidden;
}
.venue-image:hover .fa-play-circle {
  color: #fff !important;
}
.venue-image:hover img {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition-delay: 0.2s;
}
.venue-image .fa-play-circle {
  z-index: 1;
}
.venue-image img {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.card a {
  overflow: hidden;
}
.card a > img {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.card a > img:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition-delay: 0.2s;
}

.py-5rem {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

#celebrate-with-us {
  background-image: url("../images/woman-on-chair-man-behind-the-wall-2.jpg") no-repeat center center fixed;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: initial;
  position: relative;
}
@media screen and (min-width: 576px) {
  #celebrate-with-us {
    background-attachment: fixed;
  }
}
#celebrate-with-us:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#celebrate-with-us .event-info {
  position: relative;
}
#celebrate-with-us h4, #celebrate-with-us dt, #celebrate-with-us dd, #celebrate-with-us li {
  color: #fff !important;
  font-family: "Raleway", sans-serif;
}

#rsvp #rsvp-form {
  max-width: 350px;
  margin: 0 auto;
}
#rsvp #rsvp-form #rsvp-search {
  font-weight: 300;
  padding-bottom: 10px;
}
#rsvp .invitation-code {
  font-size: 32px;
  font-weight: 100;
  font-family: "Raleway";
  text-align: center;
  max-width: 300px;
  letter-spacing: 10px;
  border-width: 0 0 1px 0;
  background-color: transparent;
  margin: 5px;
}

.inner-page-banner {
  position: relative;
  background-color: #DED9D1;
  height: 250px;
}
.inner-page-banner:after {
  content: "";
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../images/inner-page-banner-image.png");
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
}
.inner-page-banner h1 {
  font-size: 62px;
}

.inner-page-footer {
  position: relative;
  background-color: #DED9D1;
  height: 180px;
}
.inner-page-footer:after {
  content: "";
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../images/inner-page-footer-image.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
  min-height: 228px;
}
.inner-page-footer h1 {
  font-size: 62px;
}

.accordion-button {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #212529;
}
.accordion-button:not(.collapsed) {
  color: #222;
  background-color: #f7f6f5;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(100) invert(1);
}

.accordion-body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.accordion-body:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  border-left: solid 3px rgba(0, 0, 0, 0.125);
}
.accordion-body ul {
  list-style: none;
  margin-bottom: 0;
  padding: 5px 20px;
}
.accordion-body ul li {
  font-size: 14px;
  margin-bottom: 5px;
}
.accordion-body > ul {
  padding: 0;
  margin: 0;
}

#gallery.owl-carousel .owl-stage-outer::before, #gallery.owl-carousel .owl-stage-outer::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 100%;
  background-color: #fff;
  top: 0;
}
#gallery.owl-carousel .owl-stage-outer::before {
  left: 0;
  box-shadow: 0px 0 20px 25px #fff;
  background: #fff;
  z-index: 1;
  width: 1px;
}
#gallery.owl-carousel .owl-stage-outer::after {
  right: 0;
  box-shadow: 0px 0 20px 25px #fff;
  background: #fff;
  z-index: 1;
  width: 1px;
}

#middle-banner h4,
#prefooter-banner h4 {
  font-size: 30px;
}
#middle-banner .container,
#prefooter-banner .container {
  position: relative;
  z-index: 2;
}
#middle-banner:before,
#prefooter-banner:before {
  content: "";
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#middle-banner {
  background: url(../images/celebrate-background-min.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 12rem 0 2rem !important;
}
@media screen and (min-width: 576px) {
  #middle-banner {
    background-attachment: fixed;
    padding: 5rem 0 !important;
  }
}

#prefooter-banner {
  background-image: url(../images/thank-you-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 2500px;
  margin: 0 auto;
}
#prefooter-banner .thanks {
  font-family: "Cookie", cursive;
  font-size: 5rem;
  line-height: 1em;
  margin: 0;
}

#footer h3 {
  font-family: "Cookie", cursive;
  color: #3f3f3f;
  position: relative;
  font-size: 3rem;
}
#footer h3 span {
  font-family: "Euphoria Script", cursive;
  margin-left: 5px;
}
#footer h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.separator-1,
.separator-2 {
  filter: invert(1) brightness(10) contrast(10);
  display: block;
  filter: invert(1) brightness(10) contrast(10);
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.the-groom-image,
.the-bride-image {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.message-slider {
  width: 80%;
  margin: 0 auto;
}
.message-slider .owl-item {
  opacity: 0;
}
.message-slider .owl-item.active {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 0.3s;
}

blockquote {
  padding: 1rem;
}
blockquote img {
  max-width: 100px;
  border-radius: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08), 0 5px 20px rgba(0, 0, 0, 0.08);
  margin: 25px auto;
}
blockquote p {
  text-align: center;
}

#faq {
  background: #fff;
}
#faq .accordion-button {
  background: #3f3f3f;
  color: #fff;
  transition: all 0.2s;
  text-align: left;
}
#faq .accordion-button:after {
  filter: invert(1) brightness(9) contrast(9);
}
#faq .accordion-button.collapsed {
  color: #3f3f3f;
  background: #fff;
  transition: all 0.2s;
}
#faq .accordion-button.collapsed:after {
  filter: none;
}

@media screen and (min-width: 768px) {
  .border-md-end {
    border-right: solid 1px #3f3f3f;
  }
}

/*# sourceMappingURL=main.css.map */
